name: {{ topology_name }}

topology:
  nodes:
    {% for node in nodes %}
    {{ node.name }}:
      kind: {{ node.kind }}
      image: {{ node.image }}
      {% if node.env is defined %}
      env:
        {% for key, value in node.env.items() %}
        {{ key }}: {{ value }}
        {% endfor %}
      {% endif %}
      {% if node.binds is defined %}
      binds:
        {% for bind in node.binds %}
        - {{ bind }}
        {% endfor %}
      {% endif %}
    {% endfor %}

  links:
    {% for link in links %}
    - endpoints: ["{{ link.node1 }}:{{ link.interface1 }}", "{{ link.node2 }}:{{ link.interface2 }}"]
    {% endfor %}