{# Use with modular_inheritance_config_generator.py #}
{# This is the base template file mod_inherit_base.j2 #}
!
! Base Configuration Template
!
hostname {{ hostname }}
!
{# AAA Configuration Block #}
{% block aaa %}
{% endblock %}
!
{# Interface Configuration Block #}
{% block interfaces %}
{% endblock %}
!
{# OSPF Configuration Block #}
{% block ospf %}
{% endblock %}
!
end