{# Use with modular_inheritance_config_generator.py #}
{# This file mod_inherit_ospf.j2 replaces the ospf block in mod_inherit_base.j2 #}
{% extends "mod_inherit_base.j2" %}

{% block ospf %}
! OSPF Template
router ospf {{ ospf_process_id }}
 router-id {{ router_id }}
 auto-cost reference-bandwidth 100000
 {% for network in ospf_networks %}
 network {{ network.prefix }} {{ network.wildcard }} area {{ network.area }}
 {% endfor %}
{% endblock %}